header{
    div{
        text-align: center;
        padding: 25px;
        a{
            text-decoration: none;
            color: black;
            a:hover{
                border-bottom: rgb(244, 124, 124) solid;
            }
            img{
                width: 70%;
            }
        }
    }
}