nav{
    width: 90%;
    margin: auto;
    a{
        img{
            width: 50px;
        }
    }
    ul{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        justify-content: space-between;
        padding: 15px 0;        
        li{
            a {
                text-decoration: none;
                color: black;
            }
            a:hover{
                border-bottom: rgb(244, 124, 124) solid;            
            }
            @media (max-width: 600px){
                padding: 10px;
            }
        }
        @media (max-width: 600px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            padding: 15px 0;  
        }
    }
}