@import "nav";
@import "header";
@import "main";
@import "footer";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff2f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ef9f9f' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-family: 'Plus Jakarta Sans', sans-serif;
}

ul{
    list-style: none;
}